# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
*.db
*.sqlite3

# Uploaded avatars & runtime storage
anh_dai_dien/
uploads/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
