SQL_SERVER_DRIVER=ODBC Driver 18 for SQL Server
SQL_SERVER_HOST=localhost
SQL_SERVER_PORT=1433
SQL_SERVER_DATABASE=crm_db
SQL_SERVER_USER=sa
SQL_SERVER_PASSWORD=YourStrongPassword123!
SQL_SERVER_ENCRYPT=yes
SQL_SERVER_TRUST_CERTIFICATE=yes
SQL_SERVER_TRUSTED_CONNECTION=false

COOKIE_SECURE=false
SESSION_TTL=900

SEED_ADMIN_EMAIL=admin@company.vn
SEED_ADMIN_PASSWORD=Admin123
SEED_SOURCE_EMAIL=employee.old@company.vn
SEED_SOURCE_PASSWORD=Employee123
SEED_RECEIVER_EMAIL=employee.new@company.vn
SEED_RECEIVER_PASSWORD=Employee123
